@charset "UTF-8";
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/** General */
hr {
  border-color: #333;
}

a.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

select:disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: 0.65;
  box-shadow: none;
}

.d-flex {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.d-flex .item {
  flex-basis: 50%;
  max-width: 50%;
}
@media (max-width: 768px) {
  .d-flex .item {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.d-none {
  display: none !important;
}

#page {
  margin-top: 1.5rem;
}

.c-btn {
  max-width: 100%;
  margin-bottom: 0.5rem;
  white-space: normal;
  word-break: break-word;
  padding: 0.3rem 1.5rem;
  font-size: 1.3rem;
  background: #FFFFFF;
  border: 0.1rem solid #ddd;
  cursor: pointer;
}
.c-btn.black {
  background: #000000;
  color: #FFFFFF;
}
.c-btn.small {
  width: 6rem;
}
.c-btn.medium {
  width: 12rem;
}
.c-btn.large {
  width: 16rem;
}
.c-btn:focus {
  outline: none;
}
.c-btn:disabled {
  background: #FFFFFF !important;
  color: initial !important;
}
.c-btn.is-active {
  background: #000000;
  color: #FFFFFF;
}
.c-btn.c-label {
  cursor: default;
}
.c-btn + .c-btn {
  margin-left: 0.8rem;
}
@media (max-width: 768px) {
  .c-btn {
    width: 100% !important;
  }
}

.img-center {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.img-center.giesta {
  height: calc(100% - 40px);
}

.col-right {
  margin-bottom: 70px;
}

/** End General */
/** Select & result */
@media (min-width: 768px) {
  .select-area .option-group {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    min-height: 3.8rem;
  }
  .select-area .c-btn {
    margin-bottom: 0;
  }
}
/*
.giesta-img-description {
	display: block;
	padding: 0 15px;
}
*/
.option {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .option {
    margin-left: 0;
  }
}
.option label {
  margin-bottom: 0;
}
.option li {
  display: inline-block;
  padding: 0.5rem;
}
@media (max-width: 768px) {
  .option li {
    padding: 1rem;
  }
}
.option select {
  min-width: 10rem;
  padding: 0.35rem;
  border-radius: 0.4rem;
}
.option select:focus {
  outline: none;
}

#featured-img {
  position: relative;
  height: 100%;
}
#featured-img .wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}
@media (max-width: 768px) {
  #featured-img .wrap {
    position: initial;
  }
}
#featured-img .wrap img {
  max-height: 100%;
  display: inline-block;
}
@media (max-width: 768px) {
  #featured-img .wrap img {
    margin: 0 auto;
  }
}

.color-img {
  border-radius: 50%;
  border: 0.2rem solid #e6e4e4;
  height: 4rem;
  width: 4rem;
  outline: none;
}
.color-img.active {
  border: 0.2rem solid #000;
}

#result-selected .total-price {
  display: inline-block;
  padding-right: 1.5rem;
}
#result-selected .price {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000000;
}

/** End select & result */
/** Model slider */
#slide .slick-track {
  margin: 0;
}
#slide .slick-track .slick-slide {
  outline: none;
  text-align: center;
}
#slide .slick-track .slick-slide img {
  max-height: 10rem;
}
#slide .slick-track .slick-slide a {
  display: inline-block;
  cursor: pointer;
  padding: 0 1rem;
}
#slide .slick-track .slick-slide a.active {
  border: 0.1rem solid #ddd;
}
#slide .slick-track .slick-slide a:focus {
  outline: none;
  text-decoration: none;
}
#slide .slick-track .slick-slide a:hover {
  text-decoration: none;
}
#slide .slick-track .slick-slide a img, #slide .slick-track .slick-slide a span {
  display: inline-block;
}
#slide .slick-track .slick-slide a span {
  font-size: 1.25rem;
}
#slide .slick-track .slick-slide a div {
  height: 90px;
}
@media (max-width: 768px) {
  #slide .slick-track .slick-slide {
    padding: 0 3.5rem;
  }
}
#slide .slick-next, #slide .slick-prev {
  width: 3rem;
  height: 100%;
  border: 0.1rem solid;
  border-color: #ddd;
}
#slide .slick-next:not(.slick-disabled), #slide .slick-prev:not(.slick-disabled) {
  border-color: #333;
}
#slide .slick-next:before, #slide .slick-prev:before {
  color: #000;
  font-family: initial;
  font-weight: bold;
  font-size: 2.2rem;
}
@media (max-width: 768px) {
  #slide .slick-next {
    right: 0;
  }
  #slide .slick-prev {
    left: 0;
  }
}
#slide .model-name {
  padding-top: 10px;
}

/** End Model slider */
/** Window and door: mullion/transom */
.mullion-transom-item {
  padding: 0;
}
.mullion-transom-item a {
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid transparent;
}
.mullion-transom-item a.active {
  border: 1px solid #ddd;
}
.mullion-transom-item a img {
  height: 100px;
  width: auto;
}

/** End Window and door: mullion/transom */
/** exterior: Fence */
.fence-input-width {
  width: 100px;
  height: 28px;
  display: inline-block;
}

/** End exterior: Fence*/
/** Window and door: sill type */
@media (min-width: 768px) {
  [data-group-name=spec4] .spec4-img {
    position: relative;
    top: 50px;
    display: inline;
  }
  [data-group-name=spec4] .spec4-img:after {
    content: "";
    height: 60px;
    display: inline-block;
  }
  [data-group-name=spec4] .spec4-img > div {
    position: absolute;
    left: 0;
    top: -55px;
    display: inline-block;
    width: 26rem;
  }
  [data-group-name=spec4] .spec4-img .img-description {
    display: inline-block;
    text-align: center;
    padding: 0 5px;
    box-sizing: border-box;
  }
  [data-group-name=spec4] .spec4-img .img-description img {
    height: 50px;
    width: auto;
  }
}
@media (max-width: 767px) {
  [data-group-name=spec4] .spec4-img {
    display: block;
  }
  [data-group-name=spec4] .spec4-img .img-description {
    display: inline-block;
    text-align: center;
    padding: 0 5px;
    box-sizing: border-box;
  }
  [data-group-name=spec4] .spec4-img .img-description img {
    height: 50px;
    width: auto;
  }

  #page {
    padding: 0 20px;
  }
}
/** End Window and door: sill type */
/** Giesta */
.tostem_door .handle-line {
  height: 28px;
  background: #000;
  color: #FFF;
  margin-bottom: 1.5rem;
}
.tostem_door .handle-line button {
  border: none;
}
.tostem_door .frame-type-item, .tostem_door .type-item {
  width: 33.3%;
  text-align: center;
}
.tostem_door .frame-type-item a, .tostem_door .type-item a {
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0.8rem;
  border: 1px solid transparent;
}
.tostem_door .frame-type-item a.active, .tostem_door .type-item a.active {
  border: 1px solid #ddd;
}
.tostem_door .frame-type-item a + a, .tostem_door .type-item a + a {
  margin-left: 1.5rem;
}
.tostem_door .frame-type-item a span, .tostem_door .type-item a span {
  display: block;
  font-size: 12.5px;
  color: #333;
  padding-top: 5px;
}
.tostem_door .frame-type-item img, .tostem_door .type-item img {
  height: 60px;
  width: auto;
}
.tostem_door .frame-type-item.handle-type img {
  height: 100px;
}
.tostem_door #list-spec-disable .frame-type-item img, .tostem_door #list-spec-disable .type-item img {
  opacity: 0.6;
}
.tostem_door #list-spec-disable .frame-type-item span, .tostem_door #list-spec-disable .type-item span {
  opacity: 0.6;
}
.tostem_door #side-panel .disabled img, .tostem_door #side-panel .disabled span {
  opacity: 0.6;
}
.tostem_door #side-panel .disabled .active {
  border: none;
}
.tostem_door .geista_img_des_a01 {
  display: none;
}
.tostem_door .show.geista_img_des_a01 {
  display: block !important;
}
.tostem_door hr.hr_geista_img_des_a01 {
  margin-top: 42px;
}

/**end */
.product-list .product {
  position: relative;
}
.product-list .product .tooltip {
  opacity: 1;
}
.product-list .product .tooltip-wrapper {
  position: absolute;
  overflow: visible;
  width: 2rem;
  height: 2rem;
  left: -3rem;
  bottom: 1rem;
  display: inline-block;
  background-image: url(/tostem/img/icon/info_icon.svg);
  background-repeat: no-repeat;
  background-size: 2rem;
}
.product-list .product .tooltip-wrapper:hover {
  cursor: pointer;
}
.product-list .product .tooltip-wrapper .tooltip {
  display: none;
  position: absolute;
  top: calc(0.5em - 2.5rem);
  width: 12rem;
  min-height: 4rem;
  background: #e9e9e9;
  color: #0a273a;
  border-radius: 0.2em;
}
.product-list .product .tooltip-wrapper.tooltip-left .tooltip {
  right: 2.5em;
  margin-right: 1em;
}
.product-list .product .tooltip-wrapper.hover .tooltip,
.product-list .product .tooltip-wrapper:hover .tooltip {
  display: block;
}
.product-list .product .tooltip-wrapper .tooltip:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
}
.product-list .product .tooltip-wrapper.tooltip-left .tooltip:before {
  right: -1em;
  top: 2rem;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 1em solid #e9e9e9;
}
.product-list .product .tooltip-wrapper .tooltip .tooltip-body {
  padding: 0.8em 1em;
}

.img_option {
  display: inline-block;
  width: 100px;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}
.img_option span {
  color: #000;
  font-size: 12.5px;
  display: block;
  padding-top: 5px;
}
.img_option span, .img_option img {
  opacity: 1;
}
.img_option.disabled {
  cursor: not-allowed;
}
.img_option.disabled span, .img_option.disabled img {
  opacity: 0.6;
}
.img_option.active {
  border: 1px solid #ddd;
}

.show_r_movement {
  display: inline-block;
  padding-left: 1.5rem;
  width: 20rem;
}

.show_msg_flat_sill,
.show_msg_limit_arm {
  display: inline-block;
}
