.page-login {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 768px) {
  .page-login {
    height: calc(100vh - 24.7rem);
  }
}

.form-center {
  min-width: 33%;
}

.form-wrap {
  border: 1px solid #ddd;
}

.btn-quotation {
  background: linear-gradient(-50deg, #c6c0c0 0%, #b8b8b8 50%, #cdcdcd 51%, #abacb0 70%, #8e8f8f 100%);
  color: #fff;
  position: relative;
  box-shadow: 5px 5px 0px 0px rgba(97, 97, 97, 0.17);
  -webkit-box-shadow: 5px 5px 0px 0px rgba(97, 97, 97, 0.17);
  -moz-box-shadow: 5px 5px 0px 0px rgba(97, 97, 97, 0.17);
  border: none;
  text-decoration: none;
  border-radius: 5px;
  width: 100%;
  font-size: 2.8rem;
  padding: 2.8rem 1.5rem;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn-quotation:hover {
  color: #fff;
  opacity: 0.8;
}
.btn-quotation:active {
  position: relative;
  top: 1px;
}
.btn-quotation:focus {
  color: #fff;
}

.top-part {
  padding: 6rem 6rem 3rem;
}

.bottom-part {
  border-top: 0.1rem solid #ddd;
}

.content-form {
  padding: 1.5rem 6rem;
}

.loginBtn {
  background: linear-gradient(-50deg, #c6c0c0 0%, #b8b8b8 50%, #cdcdcd 51%, #abacb0 70%, #8e8f8f 100%);
  color: #fff;
  position: relative;
  box-shadow: 5px 5px 0px 0px rgba(97, 97, 97, 0.17);
  -webkit-box-shadow: 5px 5px 0px 0px rgba(97, 97, 97, 0.17);
  -moz-box-shadow: 5px 5px 0px 0px rgba(97, 97, 97, 0.17);
  min-width: 9rem;
  border: none;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 5px;
}
.loginBtn:hover {
  color: #fff;
  opacity: 0.8;
}
.loginBtn:active {
  position: relative;
  top: 1px;
}
.loginBtn:focus {
  color: #fff;
  outline: none;
}

.errors {
  color: red;
}
