@charset "UTF-8";
/* search用CSS
========================================*/
#mainArea.search > article .ttlBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: flex-start;
}
#mainArea.search > article .ttlBlock h1 {
  color: #ed6d00;
  font-weight: bold;
  line-height: 120%;
}
#mainArea.search > article .ttlBlock .button a {
  background: #f5f5f5;
  border: 1px solid #ccc;
  display: block;
}
#mainArea.search > article #gmapArea {
  width: 100%;
}
#mainArea.search > article .searchBox {
  background: #f5f5f5;
}
#mainArea.search > article .searchBox dt {
  font-weight: bold;
  line-height: 130%;
}
#mainArea.search > article .searchBox dd .checkList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: flex-start;
}
#mainArea.search > article .searchBox dd input[type=text] {
  border: 0;
}
#mainArea.search > article .searchBox .searchBtn {
  background: #333;
  color: #fff;
  display: table;
  font-weight: bold;
}
#mainArea.search > article .searchWrap .numberTxt {
  font-weight: bold;
}
#mainArea.search > article .searchWrap .searchList > li {
  background: #f5f5f5;
}
#mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline figure img {
  width: 100%;
}
#mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline .shopOutlineBox h3 {
  color: #ed6d00;
  font-weight: bold;
  line-height: 130%;
}
#mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline .shopOutlineBox .shopAddress {
  line-height: 150%;
}
#mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline .shopOutlineBox .shopTel {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 100%;
}
#mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline .shopOutlineBox .shopTel a {
  color: #369f00;
}
#mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline .shopOutlineBox .shopTel .fas {
  font-size: 80%;
}
#mainArea.search > article .searchWrap .searchList > li .shopBlock .btnList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: flex-end;
}
#mainArea.search > article .searchWrap .searchList > li .shopBlock .btnList ul:first-of-type {
  margin-left: 0;
}
#mainArea.search > article .searchWrap .searchList > li .iconList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#mainArea.search > article .searchWrap .searchList > li .iconList .iconMeister li:last-of-type {
  margin-bottom: 0;
}
#mainArea.search > article .searchWrap .searchList > li .iconList .iconGeneral {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: flex-start;
}

/* SPonly */
@media screen and (max-width: 767px) {
  #mainArea.search > article {
    border-top: 0.875vw solid #ed6d00;
    padding: 7.5vw 2.5vw 0;
  }
  #mainArea.search > article .ttlBlock {
    border-bottom: 0.375vw solid #ed6d00;
    display: block;
    justify-content: space-between;
    margin-bottom: 7.5vw;
    padding-bottom: 2.5vw;
  }
  #mainArea.search > article .ttlBlock h1 {
    display: inline;
    font-size: 5.5vw;
  }
  #mainArea.search > article .ttlBlock .button {
    display: inline-block;
    margin: 0 1.25vw 0 3.75vw;
    width: 27.5vw;
  }
  #mainArea.search > article .ttlBlock .button a {
    border-radius: 1.25vw;
    padding: 1.25vw 0;
    text-align: center;
  }
  #mainArea.search > article #gmapArea {
    margin-bottom: 7.5vw;
    height: 71.25vw;
  }
  #mainArea.search > article .refineSec {
    margin-bottom: 6.25vw;
  }
  #mainArea.search > article .refineSec h2 {
    background: #f5f5f5;
    font-size: 3.75vw;
    padding: 3.125vw 2.5vw 1.25vw;
    text-align: center;
  }
  #mainArea.search > article .refineSec h2:after {
    content: "\25BC";
    color: #ed6d00;
    display: block;
    font-size: 100%;
  }
  #mainArea.search > article .refineSec h2.open:after {
    content: "\25B2";
  }
  #mainArea.search > article .refineSec .cityListWrap {
    display: none;
  }
  #mainArea.search > article .refineSec .cityList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #ccc;
  }
  #mainArea.search > article .refineSec .cityList li {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 3.5vw;
    width: calc(50% - 1px);
  }
  #mainArea.search > article .refineSec .cityList li:nth-of-type(2n) {
    border-right: 0;
    width: 50%;
  }
  #mainArea.search > article .refineSec .cityList li a {
    background: url(/common/img/arrow_right_gr.png) no-repeat 94% center #f5f5f5;
    background-size: 1.5vw auto;
    display: block;
    padding: 3.125vw 5vw;
  }
  #mainArea.search > article .searchBox {
    border-radius: 2.5vw;
    margin-bottom: 7.5vw;
    padding: 5vw 5vw 6.25vw;
  }
  #mainArea.search > article .searchBox dt {
    font-size: 3.75vw;
    margin-bottom: 3.125vw;
  }
  #mainArea.search > article .searchBox dt .fas {
    font-size: 110%;
    margin-right: 2.5vw;
  }
  #mainArea.search > article .searchBox dd input[type=text] {
    border-radius: 1.25vw;
    display: table;
    font-size: 3.25vw;
    line-height: 150%;
    margin: 0 auto;
    padding: 1.5vw 1.875vw;
    width: 72.5vw;
  }
  #mainArea.search > article .searchBox dd .checkList {
    font-size: 3.25vw;
    margin-top: 1.25vw;
  }
  #mainArea.search > article .searchBox dd .checkList li {
    margin-bottom: 1.25vw;
    width: 33.3%;
  }
  #mainArea.search > article .searchBox dd .checkBox {
    font-size: 3.25vw;
    margin-top: 2.5vw;
  }
  #mainArea.search > article .searchBox dd input[type=checkbox] {
    margin-right: 1.25vw;
    vertical-align: -0.5vw;
  }
  #mainArea.search > article .searchBox .word {
    border-top: 0.25vw solid #333;
    margin-top: 3.75vw;
    padding-top: 5vw;
  }
  #mainArea.search > article .searchBox .searchBtn {
    border-radius: 2.5vw;
    font-size: 3.25vw;
    line-height: 150%;
    margin: 3.75vw auto 0;
    padding: 1.5vw 3.75vw;
    width: 18.75vw;
  }
  #mainArea.search > article .searchWrap .numberTxt {
    font-size: 4vw;
    margin-bottom: 5vw;
  }
  #mainArea.search > article .searchWrap .searchList > li {
    border-radius: 2.5vw;
    margin-bottom: 5vw;
    padding: 2.5vw 1.875vw;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock {
    margin-bottom: 2.5vw;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline {
    margin-bottom: 2.5vw;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline figure {
    width: 34.375vw;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline .shopOutlineBox {
    width: 54.375vw;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline .shopOutlineBox h3 {
    font-size: 4vw;
    margin-bottom: 1.25vw;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline .shopOutlineBox .shopTel {
    font-size: 6vw;
    margin-top: 1.25vw;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline .shopOutlineBox .shopTel .fas {
    margin-right: 1.5vw;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .btnList ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 1.25vw;
    width: 45vw;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .btnList ul li {
    width: 21.875vw;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .btnList ul li img {
    width: 100%;
  }
  #mainArea.search > article .searchWrap .searchList > li .iconList img {
    width: 100%;
  }
  #mainArea.search > article .searchWrap .searchList > li .iconList .iconMeister {
    width: 25vw;
  }
  #mainArea.search > article .searchWrap .searchList > li .iconList .iconMeister li {
    margin-bottom: 1.25vw;
  }
  #mainArea.search > article .searchWrap .searchList > li .iconList .iconGeneral {
    width: 61.25vw;
  }
  #mainArea.search > article .searchWrap .searchList > li .iconList .iconGeneral li {
    margin: 0 1.25vw 1.25vw 0;
    width: 24.25vw;
  }
}
/* PConly */
@media print, screen and (min-width: 768px) {
  #mainArea.search > article {
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
  }
  #mainArea.search > article .ttlBlock {
    border-bottom: 2px solid #ed6d00;
    margin-bottom: 40px;
    padding-bottom: 15px;
  }
  #mainArea.search > article .ttlBlock h1 {
    font-size: 228.5714285714%;
  }
  #mainArea.search > article .ttlBlock .button {
    margin-left: 60px;
  }
  #mainArea.search > article .ttlBlock .button a {
    border-radius: 5px;
    font-size: 107.1428571429%;
    padding: 8px 20px;
  }
  #mainArea.search > article .ttlBlock .button a:hover {
    opacity: 0.8;
  }
  #mainArea.search > article #gmapArea {
    margin-bottom: 50px;
    height: 500px;
  }
  #mainArea.search > article .refineSec {
    margin-bottom: 50px;
  }
  #mainArea.search > article .refineSec h2 {
    border-left: 4px solid #ed6d00;
    font-size: 128.5714285714%;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 12px;
  }
  #mainArea.search > article .refineSec .cityList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: flex-start;
  }
  #mainArea.search > article .refineSec .cityList li {
    margin: 0 10px 10px 0;
  }
  #mainArea.search > article .refineSec .cityList li a {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    font-size: 107.1428571429%;
    padding: 5px 10px;
  }
  #mainArea.search > article .refineSec .cityList li a:hover {
    opacity: 0.8;
  }
  #mainArea.search > article .searchBox {
    border-radius: 20px;
    margin: 0 auto 50px;
    padding: 40px;
    width: 840px;
  }
  #mainArea.search > article .searchBox dt {
    font-size: 142.8571428571%;
    margin-right: 30px;
  }
  #mainArea.search > article .searchBox dt .fas {
    font-size: 120%;
    margin-right: 15px;
  }
  #mainArea.search > article .searchBox dd input[type=text] {
    border-radius: 10px;
    font-size: 107.1428571429%;
    line-height: 150%;
    padding: 10px 12px;
    width: 525px;
  }
  #mainArea.search > article .searchBox dd .checkList {
    font-size: 114.2857142857%;
    margin-top: 20px;
  }
  #mainArea.search > article .searchBox dd .checkList li {
    margin: 0 20px 15px 0;
  }
  #mainArea.search > article .searchBox dd .checkBox {
    margin: 10px 0 -20px;
    width: 375px;
  }
  #mainArea.search > article .searchBox dd input[type=checkbox] {
    margin-right: 5px;
  }
  #mainArea.search > article .searchBox .word {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #333;
    margin-top: 20px;
    padding-top: 30px;
  }
  #mainArea.search > article .searchBox .word dd {
    width: 550px;
  }
  #mainArea.search > article .searchBox .searchBtn {
    border-radius: 10px;
    cursor: pointer;
    font-size: 107.1428571429%;
    line-height: 150%;
    margin: 30px auto 0;
    padding: 10px 0;
    width: 110px;
  }
  #mainArea.search > article .searchBox .searchBtn:hover {
    opacity: 0.8;
  }
  #mainArea.search > article .searchWrap .numberTxt {
    font-size: 157.1428571429%;
    margin-bottom: 30px;
  }
  #mainArea.search > article .searchWrap .searchList > li {
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 30px;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline {
    width: 710px;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline figure {
    width: 240px;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline .shopOutlineBox {
    width: 450px;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline .shopOutlineBox h3 {
    font-size: 171.4285714286%;
    margin-bottom: 10px;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline .shopOutlineBox .shopAddress {
    font-size: 107.1428571429%;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline .shopOutlineBox .shopTel {
    font-size: 257.1428571429%;
    margin-top: 12px;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline .shopOutlineBox .shopTel a {
    pointer-events: none;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .shopOutline .shopOutlineBox .shopTel .fas {
    margin-right: 10px;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .btnList {
    width: 330px;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .btnList ul {
    margin-left: 10px;
    width: 160px;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .btnList ul li {
    margin-bottom: 10px;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .btnList ul li:last-of-type {
    margin-bottom: 0;
  }
  #mainArea.search > article .searchWrap .searchList > li .shopBlock .btnList ul li a:hover {
    display: block;
    opacity: 0.8;
  }
  #mainArea.search > article .searchWrap .searchList > li .iconList .iconMeister {
    width: 200px;
  }
  #mainArea.search > article .searchWrap .searchList > li .iconList .iconMeister li {
    margin-bottom: 8px;
  }
  #mainArea.search > article .searchWrap .searchList > li .iconList .iconGeneral {
    width: 800px;
  }
  #mainArea.search > article .searchWrap .searchList > li .iconList .iconGeneral li {
    margin-right: 8px;
    width: 194px;
  }
}