.main-img {
  position: relative;
}
.main-img .wrap {
  position: relative;
}
.main-img .wrap .list-category {
  position: absolute;
  left: 0;
  top: 20rem;
}
.main-img .wrap .list-category .c-btn {
  display: block;
  border: none;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  width: 100%;
  border-radius: 0.4rem;
  text-align: center;
}
.main-img .wrap .list-category .c-btn.black {
  background: #000000;
  color: #FFFFFF;
}
.main-img .wrap .background-img {
  justify-content: center;
  text-align: center;
}
.main-img .wrap .background-img img {
  display: inline-block;
  max-height: calc(100vh - 22rem);
}

@media (min-width: 768px) {
  .main-img .wrap .list-category {
    left: 2.8rem;
    top: 7rem;
  }
}
@media (min-width: 1024px) {
  .main-img .wrap .list-category {
    left: 6.8rem;
    top: 9rem;
  }
}
@media (min-width: 1440px) {
  .main-img .wrap .list-category {
    left: 9.8rem;
    top: 7rem;
  }
}
.language-en .modal-new-or-reform .vue-dialog {
  height: 150px !important;
}
.language-en .modal-new-or-reform .vue-dialog .dialog-content {
  display: flex;
  height: 75px !important;
  align-items: center;
}
.language-en .modal-new-or-reform .vue-dialog .dialog-content .dialog-c-text {
  flex: 1;
  text-align: center;
  font-size: 20px !important;
}
.language-en .modal-new-or-reform .vue-dialog .vue-dialog-buttons .vue-dialog-button {
  height: 75px !important;
  font-size: 20px !important;
}

.language-th .modal-new-or-reform .vue-dialog {
  height: 150px !important;
}
.language-th .modal-new-or-reform .vue-dialog .dialog-content {
  display: flex;
  height: 75px !important;
  align-items: center;
}
.language-th .modal-new-or-reform .vue-dialog .dialog-content .dialog-c-text {
  flex: 1;
  text-align: center;
  font-size: 25px !important;
  font-weight: bold;
  color: black;
}
.language-th .modal-new-or-reform .vue-dialog .vue-dialog-buttons .vue-dialog-button {
  height: 75px !important;
  font-size: 25px !important;
  font-weight: bold;
  color: black;
}
