.main-img{
	position: relative;
	.wrap{
		position: relative;
		.list-category {
			position: absolute;
			left: 0;
			top: 20rem;
			.c-btn{
				display: block;
			    border: none;
			    margin-bottom: 1rem;
			    padding: 0.5rem 2rem;
			    width: 100%;
			    border-radius: 0.4rem;
			    text-align: center;
				&.black{
					background: #000000;
					color: #FFFFFF;
				}
			}
		}
		.background-img {
			justify-content: center;
			text-align: center;
			img	{
				display: inline-block;
				max-height: calc(100vh - 22rem);
			}
		}
	}
}
@media (min-width: 768px) {
	.main-img{
		.wrap{
			.list-category {
				left: 2.8rem;
				top: 7rem;
			}
		}
	}
}
@media (min-width: 1024px) {
	.main-img{
		.wrap{
			.list-category {
				left: 6.8rem;
				top: 9rem;
			}
		}
	}
}
@media (min-width: 1440px) {
	.main-img{
		.wrap{
			.list-category {
				left: 9.8rem;
				top: 7rem;
			}
		}
	}
}

// Add Start add popup status New/Reform hainp 20200925
@mixin theme-modal($th: false) {
	.modal-new-or-reform .vue-dialog {
		height: 150px!important;
		.dialog-content {
			display: flex;
			height: 75px!important;
			align-items: center;
			.dialog-c-text {
				flex: 1;
				text-align: center;
				@include text-modal($th);
			}
		}
		.vue-dialog-buttons {
			.vue-dialog-button {
				height: 75px!important;
				@include text-modal($th);
			}
		}
	}
}

@mixin text-modal($th: false) {
	@if $th {
		font-size: 25px!important;
		font-weight: bold;
		color: black;
	} @else {
		font-size: 20px!important;
	}
}

.language-en {
	@include theme-modal($th: false);
}
.language-th {
	@include theme-modal($th: true);
}
// Add End add popup status New/Reform hainp 20200925