@charset "UTF-8";
/* 共通CSS
========================================*/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&subset=japanese);
@import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css);
body {
	font-family:"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","Noto Sans JP","メイリオ", Meiryo;
}

a {
	color:#333;
	text-decoration:none;
}

button {
	background:none;
	border:0;
	font-family:"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","Noto Sans JP","メイリオ", Meiryo;
	padding:0;
}

input,
textarea {
	font-family:"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","Noto Sans JP","メイリオ", Meiryo;
}

address {
	font-style:normal;
}

header #glonav {
	background:#ed6d00;
}
header #glonav .slidedown {
	display:none;
}

#mainArea .pagenav > p {
	text-align:center;
}

#mainArea .pagenav > ul {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	justify-content:center;
}
#mainArea .pagenav > ul li a,
#mainArea .pagenav > ul li.disabled {
	background:#f5f5f5;
	color:#333;
	display:block;
}
#mainArea .pagenav > ul li.active {
	background:#ed6d00;
	color:#fff;
}
#mainArea .pagenav > ul li.disabled {
	color:#999;
}

#mainArea #sideNav .beginnerBox dd {
	background:#fffde5;
}
#mainArea #sideNav .beginnerBox dd ul {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
#mainArea #sideNav .beginnerBox dd ul li {
	width:50%;
}

#mainArea.common_contents #breadcrumb {
	display:none;
}

#mainArea.common_contents #sideNav .indexList dt {
	background:#ed6d00;
	color:#fff;
	font-weight:bold;
	line-height:130%;
	text-align:center;
}
#mainArea.common_contents #sideNav .indexList dt a {
	color:#fff;
}

#mainArea.common_contents #sideNav .indexList dd > p {
	color:#ed6d00;
	line-height:140%;
}

#mainArea.common_contents #sideNav .indexList dd li a:before {
	content:"\f138";
	color:#ed6d00;
	font-family:"Font Awesome 5 Free";
	font-size:95%;
	font-weight:900;
	display:inline-block;
}

#mainArea.common_contents #sideNav .indexList dd li li {
	font-size:100%;
}
#mainArea.common_contents #sideNav .indexList dd li li a:before {
	content:"\f054";
	font-size:90%;
	font-weight:900;
}

footer .copy {
	display:block;
	text-align:center;
}

/* SPonly */
@media screen and (max-width: 767px) {
	body {
		font-size:3vw;
		font-weight:400;
		-webkit-text-size-adjust:100%;
	}
	.pconly {
		display:none;
	}
	.img100 img {
		width:100%;
	}
	header {
		position:relative;
	}
	header .headerInr {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}
	header .headerInr .logo {
		padding:3.125vw 2.5vw;
	}
	header .headerInr .logo img {
		width:37.5vw;
	}
	header .headerInr .flexBlock.sponly {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		width:30vw;
	}
	header .headerInr .flexBlock.sponly .shopBtn {
		width:15vw;
	}
	header .headerInr .flexBlock.sponly .shopBtn a {
		background:#ed6d00;
		color:#fff;
		display:block;
		font-size:2.75vw;
		font-weight:600;
		letter-spacing:0.1em;
		line-height:190%;
		padding:2.5vw 0.625vw 0.875vw;
		text-align:center;
	}
	header .headerInr .flexBlock.sponly .shopBtn a .fas {
		font-size:5.25vw;
	}
	header .headerInr .flexBlock.sponly .menuBtn {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		align-items:center;
		justify-content:center;
		background:#ddd;
		height:100%;
		width:15vw;
	}
	header .headerInr .flexBlock.sponly .menuBtn .fas {
		font-size:6.25vw;
	}
	header #glonav {
		display:none;
		position:absolute;
		top:100%;
		width:100%;
		z-index:1000;
	}
	header #glonav ul li {
		border-bottom:1px solid #f2994d;
	}
	header #glonav ul li a {
		color:#fff;
		display:block;
		font-size:calc(4.5vw - 15%);
		line-height:120%;
		padding:5vw 7.5vw;
		position:relative;
	}
	header #glonav ul li a:after {
		background:url(../img/arrow_right_w.png) no-repeat;
		background-size:100%;
		content:"";
		display:block;
		position:absolute;
		right:7.5vw;
		top:calc(50% - 2.5vw);
		height:5vw;
		width:2.75vw;
	}
	header #glonav ul li.navTop {
		display:none;
	}
	header #glonav .searchBox {
		padding:5vw;
	}
	header .sideBtn {
		display:none;
	}
	#mainArea {
		padding:0 0 10vw;
	}
	#mainArea.common_contents {
		border-top:0.875vw solid #ed6d00;
		padding:7.5vw 2.5vw 10vw;
	}
	#mainArea.common_contents #sideNav {
		padding-top:10vw;
	}
	#mainArea.common_contents #sideNav .indexList {
		margin-bottom:7.5vw;
	}
	#mainArea.common_contents #sideNav .indexList dt {
		border-radius:1.25vw;
		font-size:5vw;
		margin-bottom:1.25vw;
		padding:2.5vw 1.25vw;
	}
	#mainArea.common_contents #sideNav .indexList dd > p {
		border-bottom:0.5vw solid #ed6d00;
		font-size:4.5vw;
		padding-left:0.625vw;
	}
	#mainArea.common_contents #sideNav .indexList dd ul {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}
	#mainArea.common_contents #sideNav .indexList dd li {
		font-size:3.75vw;
		line-height:140%;
		margin:0.625vw 0;
		width:45.625vw;
	}
	#mainArea.common_contents #sideNav .indexList dd li a {
		display:block;
		padding-top:1.875vw;
		padding-bottom:1.875vw;
		padding-left:calc(0.95em + 1vw);
		text-indent:calc(-0.95em - 1vw);
	}
	#mainArea.common_contents #sideNav .indexList dd li a:before {
		margin-right:1vw;
		text-indent:0;
	}
	#mainArea.common_contents #sideNav .indexList dd li._wide {
		width:100%;
	}
	#mainArea .topicPath {
		display:none;
	}
	#mainArea .pagenav {
		margin-top:5vw;
	}
	#mainArea .pagenav > ul {
		margin-top:2.5vw;
	}
	#mainArea .pagenav > ul li {
		margin:0 1vw;
	}
	#mainArea .pagenav > ul li a,
	#mainArea .pagenav > ul li.disabled {
		padding:1.5vw 2.75vw;
	}
	#mainArea .pagenav > ul li.active {
		padding:1.5vw 2.75vw;
	}
	#mainArea #sideNav .estimate {
		margin-bottom:5vw;
	}
	#mainArea #sideNav .estimate h2 {
		margin-bottom:2.5vw;
	}
	#mainArea #sideNav .estimate ul {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}
	#mainArea #sideNav .estimate ul li {
		width:46.5vw;
	}
	#mainArea #sideNav .estimate ul li img {
		width:100%;
	}
	#mainArea #sideNav .sidebnr {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		margin-bottom:5vw;
	}
	#mainArea #sideNav .sidebnr li {
		margin-bottom:2.5vw;
		width:46.25vw;
	}
	#mainArea #sideNav .sidebnr li img {
		width:100%;
	}
	#mainArea #sideNav .beginnerBox dt img {
		width:100%;
	}
	#mainArea #sideNav .beginnerBox dd {
		border-radius:0 0 2.5vw 2.5vw;
		padding:0 2.5vw 2.5vw;
	}
	#mainArea #sideNav .beginnerBox dd li {
		width:45vw;
	}
	#mainArea #sideNav .beginnerBox dd li img {
		width:100%;
	}
	footer .footerInr {
		background:#f5f5f5;
		padding-bottom:2.5vw;
	}
	footer .footerInr .footerNav {
		background:#ed6d00;
		font-size:3.25vw;
		line-height:130%;
		padding:5vw 2.5vw;
	}
	footer .footerInr .footerNav .shopNav {
		margin-bottom:3.75vw;
	}
	footer .footerInr .footerNav .shopNav a {
		background:#fff;
		display:block;
		padding:3.125vw 0;
		text-align:center;
	}
	footer .footerInr .footerNav .footerNavList {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		background:#fff;
		border-radius:1.25vw;
		padding:1.25vw 2.5vw;
	}
	footer .footerInr .footerNav .footerNavList li {
		border-bottom:1px solid #333;
		width:50%;
	}
	footer .footerInr .footerNav .footerNavList li:nth-of-type(2n+1) {
		border-left:1px solid #333;
		width:calc(50% - 1px);
	}
	footer .footerInr .footerNav .footerNavList li:first-of-type {
		border-left:0;
		width:50%;
	}
	footer .footerInr .footerNav .footerNavList li:nth-last-child(2),
	footer .footerInr .footerNav .footerNavList li:last-child {
		border-bottom:0;
	}
	footer .footerInr .footerNav .footerNavList li a {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		align-items:center;
		justify-content:center;
		text-align:center;
		height:11.25vw;
	}
	footer .footerInr .footerNav .footerNavList li .lowerNavList {
		display:none;
	}
	footer .footerInr .footerNavList._sub {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		justify-content:flex-start;
		margin:5vw 0 0;
		padding:0 5vw 0 7.5vw;
	}
	footer .footerInr .footerNavList._sub li {
		margin-bottom:2.5vw;
		text-align:center;
		width:31%;
	}
	footer .footerInr .footerNavList._sub li:nth-of-type(3n) {
		width:38%;
	}
	footer .footerInr .note li {
		margin:2.5vw 0;
		text-align:center;
	}
	footer .copy {
		font-size:2.75vw;
		padding:2.5vw 0;
	}
}

/* PConly */
@media print, screen and (min-width: 768px) {
	body {
		font-weight:400;
		min-width:1120px;
	}
	.sponly {
		display:none;
	}
	header .headerInr {
		margin-left:auto;
		margin-right:auto;
		width:1120px;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		align-items:center;
		padding:25px 0;
	}
	header .headerInr .flexBlock.pconly {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		width:430px;
	}
	header .headerInr .searchBox {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		align-items:center;
		justify-content:flex-start;
		background:#f5f5f5;
		border:1px solid #ccc;
		border-radius:10px;
		box-sizing:border-box;
		height:40px;
		width:280px;
	}
	header .headerInr .searchBox input[type="text"] {
		background:none;
		border:0;
		box-sizing:border-box;
		padding:8px 12px;
		height:30px;
		width:243px;
	}
	header .headerInr .searchBox button[type="submit"] {
		background:none;
		border:0;
		cursor:pointer;
		display:inline-block;
		font-size:114.28571%;
		height:30px;
		width:30px;
	}
	header .headerInr .contactBtn {
		width:130px;
	}
	header .headerInr .contactBtn a {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		align-items:center;
		justify-content:center;
		border:1px solid #ed6d00;
		border-radius:10px;
		box-sizing:border-box;
		color:#ed6d00;
		font-weight:500;
		padding:0 5px;
		text-align:center;
		height:40px;
	}
	header .headerInr .contactBtn a:hover {
		background:#ed6d00;
		color:#fff;
	}
	header #glonav > ul {
		margin-left:auto;
		margin-right:auto;
		width:1119px;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		justify-content:flex-start;
		padding:0 0 0 1px;
		position:relative;
	}
	header #glonav > ul:before {
		background:#f2994d;
		content:"";
		display:block;
		position:absolute;
		left:0;
		top:calc(50% - 15px);
		height:30px;
		width:1px;
	}
	header #glonav > ul > li {
		margin-right:1px;
		padding:4px 0;
		position:relative;
		height:56px;
		width:calc((1119px - 108px - 7px) / 6);
	}
	header #glonav > ul > li.navTop {
		width:108px;
	}
	header #glonav > ul > li:after {
		background:#f2994d;
		content:"";
		display:block;
		position:absolute;
		right:-1px;
		top:calc(50% - 15px);
		height:30px;
		width:1px;
	}
	header #glonav > ul > li > p {
		height:100%;
	}
	header #glonav > ul > li > p a {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		align-items:center;
		justify-content:center;
		color:#fff;
		font-size:107.14286%;
		font-weight:600;
		line-height:130%;
		text-align:center;
		height:100%;
	}
	header #glonav > ul > li > p a:hover {
		background:#fff;
		border-radius:10px;
		color:#ed6d00;
	}
	header #glonav > ul > li._cur > p a {
		background:#fff;
		border-radius:10px;
		color:#ed6d00;
	}
	header #glonav > ul > li .slidedown {
		background:#fffde5;
		position:absolute;
		top:64px;
		left:-110px;
		width:1120px;
		z-index:100;
	}
	header #glonav > ul > li .slidedown ul {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}
	header #glonav > ul > li .slidedown li {
		width:calc(1119.9px / 4);
	}
	header #glonav > ul > li .slidedown li a {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		align-items:center;
		justify-content:center;
		color:#ed6d00;
		font-size:107.14286%;
		font-weight:bold;
		line-height:130%;
		padding:20px 0;
		position:relative;
		text-align:center;
		height:calc(100% - 40px);
		width:calc(100% - 1px);
	}
	header #glonav > ul > li .slidedown li a:after {
		background:#ed6d00;
		content:"";
		position:absolute;
		top:10px;
		right:-1px;
		height:calc(100% - 20px);
		width:1px;
	}
	header #glonav > ul > li .slidedown li a:hover {
		background:#ed6d00;
		color:#fff;
	}
	header #glonav > ul > li .slidedown li:last-of-type a {
		width:100%;
	}
	header #glonav > ul > li .slidedown li:last-of-type a:after {
		display:none;
	}
	header .sideBtn {
		position:fixed;
		right:0;
		top:25%;
		z-index:10;
	}
	#mainArea {
		padding:0 0 60px;
	}
	#mainArea.common_contents {
		margin-left:auto;
		margin-right:auto;
		width:1120px;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		flex-direction:row-reverse;
	}
	#mainArea.common_contents #sideNav {
		padding-top:50px;
	}
	#mainArea.common_contents #sideNav .indexList {
		margin-bottom:80px;
	}
	#mainArea.common_contents #sideNav .indexList dt {
		border-radius:10px;
		font-size:157.14286%;
		margin-bottom:20px;
		padding:8px 10px;
	}
	#mainArea.common_contents #sideNav .indexList dd > p {
		border-bottom:2px solid #ed6d00;
		font-size:142.85714%;
		margin-top:25px;
		padding-left:5px;
	}
	#mainArea.common_contents #sideNav .indexList dd li {
		font-size:114.28571%;
		margin:12px 0;
	}
	#mainArea.common_contents #sideNav .indexList dd li a {
		display:block;
		padding-left:calc(0.95em + 5px);
		text-indent:calc(-0.95em - 5px);
	}
	#mainArea.common_contents #sideNav .indexList dd li a:hover {
		opacity:0.8;
	}
	#mainArea.common_contents #sideNav .indexList dd li a:before {
		margin-right:5px;
		text-indent:0;
	}
	#mainArea.common_contents #sideNav .indexList dd li li {
		margin:12px 5px;
	}
	#mainArea .topicPath {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		justify-content:flex-start;
		margin:20px 0 40px;
	}
	#mainArea .topicPath li:after {
		content:"＞";
		display:inline;
		margin:0 5px;
	}
	#mainArea .topicPath li:last-of-type:after {
		content:none;
	}
	#mainArea .topicPath a {
		color:#0096d4;
		text-decoration:underline;
	}
	#mainArea .topicPath a:hover {
		opacity:0.8;
	}
	#mainArea .pagenav {
		margin-top:50px;
	}
	#mainArea .pagenav > p {
		font-size:114.28571%;
	}
	#mainArea .pagenav > ul {
		margin-top:20px;
	}
	#mainArea .pagenav > ul li {
		font-size:114.28571%;
		margin:0 5px;
	}
	#mainArea .pagenav > ul li a {
		padding:8px 15px;
	}
	#mainArea .pagenav > ul li a:hover {
		opacity:0.8;
	}
	#mainArea .pagenav > ul li.disabled {
		padding:8px 15px;
	}
	#mainArea .pagenav > ul li.active {
		background:#ed6d00;
		color:#fff;
		padding:8px 15px;
	}
	#mainArea #sideNav {
		width:270px;
	}
	#mainArea #sideNav .estimate {
		background:#ed6d00;
		border-radius:10px;
		margin:40px 0 30px;
		padding:0 15px 20px;
		width:240px;
	}
	#mainArea #sideNav .estimate h2 {
		margin:0 0 15px;
		text-align:center;
	}
	#mainArea #sideNav .estimate h2 img {
		margin-top:-40px;
	}
	#mainArea #sideNav .estimate li {
		background:#fff;
		border-radius:5px;
		margin-top:10px;
	}
	#mainArea #sideNav .estimate li a:hover {
		display:block;
		opacity:0.8;
	}
	#mainArea #sideNav .sidebnr {
		margin-bottom:30px;
	}
	#mainArea #sideNav .sidebnr li {
		margin-bottom:15px;
	}
	#mainArea #sideNav .sidebnr li:last-of-type {
		margin-bottom:0;
	}
	#mainArea #sideNav .sidebnr li a:hover {
		display:block;
		opacity:0.8;
	}
	#mainArea #sideNav .beginnerBox dd {
		border-radius:0 0 20px 20px;
		padding:0 5px 10px;
	}
	#mainArea #sideNav .beginnerBox dd a:hover {
		display:block;
		opacity:0.8;
	}
	#mainArea a.telnum {
		cursor:default;
		pointer-events:none;
	}
	#mainArea a.telnum:hover {
		opacity:1 !important;
	}
	footer {
		background:#f5f5f5;
	}
	footer .footerInr {
		margin-left:auto;
		margin-right:auto;
		width:1120px;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		justify-content:flex-start;
		padding:40px 0;
	}
	footer .footerInr .footerNav {
		width:900px;
	}
	footer .footerInr .footerNav .shopNav {
		display:none;
	}
	footer .footerInr .footerNavList > li {
		margin-bottom:5px;
	}
	footer .footerInr .footerNavList > li a {
		background:url(../img/arrow_footer.png) no-repeat left center;
		padding-left:14px;
	}
	footer .footerInr .footerNavList > li a:hover {
		text-decoration:underline;
	}
	footer .footerInr .footerNavList._main > li {
		float:left;
		width:calc(900px / 3);
	}
	footer .footerInr .footerNavList._main > li .lowerNavList {
		padding:3px 0 0 12px;
	}
	footer .footerInr .footerNavList._main > li .lowerNavList li {
		font-size:92.85714%;
		line-height:140%;
		margin-top:7px;
	}
	footer .footerInr .footerNavList._main > li .lowerNavList li a {
		background:url(../img/arrow_footer.png) no-repeat left center;
		background-size:4px 8px;
		padding-left:12px;
	}
	footer .footerInr .footerNavList._sub {
		width:220px;
	}
	footer .footerInr .note {
		font-size:92.85714%;
		line-height:160%;
		margin-top:50px;
		text-align:center;
		width:100%;
	}
	footer .copy {
		background:#ed6d00;
		color:#fff;
		font-size:92.85714%;
		padding:15px 0;
	}
}

/* IE対策 */
*::-ms-backdrop,
header #glonav > ul > li .slidedown {
	margin-left:2px;
	width:1116px;
}

*::-ms-backdrop,
header #glonav > ul > li .slidedown li {
	width:calc(1116px / 4);
}