@charset "utf-8";

/*===========================
why / hlt-sec
===========================*/
._why{
	.hlt-sec{
		@include _mq(pc) {
			margin-top: 40px;
		}
		@include _mq(sp) {
			margin-top: _vw(60);
		}
		&__txt{
			@include _mq(pc) {
				margin: 20px 0 0;
				font-size:_fs(16);
			}
			@include _mq(sp) {
				margin: _vw(25) 0 0;
				font-size:_vw(26);
			}
			&._sub{
				line-height: _lh(14,20);
				@include _mq(pc) {
					margin-top: 10px;
					font-size:_fs(14);
				}
				@include _mq(sp) {
					margin-top: _vw(20);
					font-size:_vw(22);
				}
			}
			&._top{
				@include _mq(pc) {
					margin-top: 30px;
				}
				@include _mq(sp) {
					margin-top: _vw(25);
				}
			}
			&._right{
				text-align: right;
			}
		}
		&__img{
			text-align: center;
			@include _mq(pc) {
				margin: 20px 0 0;
			}
			@include _mq(sp) {
				margin: _vw(25) 0 0;
			}
		}
	}
}
