body {
  font-family: Arial, Helvetica, sans-serif;
}

body #content-body {
  background-color: #fff;
  font-family: sans-serif;
}

body main {
  width: 100%;
  padding: 0;
}

body .container {
  margin: 0 0 0 0;
  width: 100%;
  padding: 0 100px;
}

header .headerInr:after {
  background: transparent !important;
}

center.mt-5 {
  position: absolute;
  left: 46.5%;
  bottom: 105px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  border-color: transparent;
}

main .pagenav > ul {
  margin-top: 5px;
}

main .pagenav > ul li {
  font-size: 100%;
}

#content-body .p-paginate li {
  border: none;
}

main .pagenav > p {
  text-align: left;
  margin-left: 7px;
}

main .pagenav > ul li.active {
  background: transparent;
  padding: 0;
}

main .pagenav > ul li.disabled {
  padding: 0;
}

main .pagenav {
  margin-top: 10px;
}

#content-body .w-53 {
  width: 53px;
}
#content-body .p-paginate a {
  display: inline-block;
  color: #333;
}
#content-body .p-paginate span {
  display: inline-block;
}
#content-body .p-paginate li {
  border: 1px solid #eee;
}
#content-body .p-paginate ul li a {
  padding: 4px 8px;
  background: #ddd;
}
#content-body .p-paginate {
  display: inline-block;
}
#content-body .p-paginate ul {
  border-radius: 5px;
}
#content-body .p-paginate ul li span, #content-body .p-paginate ul li a {
  padding: 2px 10px;
  background: #fff;
}
#content-body .p-paginate li.active span {
  background: #ed6d00;
  color: #fff;
  cursor: not-allowed;
}
#content-body .p-paginate li.active, #content-body .p-paginate li.disabled {
  cursor: not-allowed;
}
#content-body .t-center {
  text-align: center;
}
#content-body .option-icon {
  display: inline-block;
  width: 20px;
}
#content-body .option-icon img {
  display: inline-block;
  width: 20px;
  cursor: pointer;
}
#content-body .icon-eye i {
  font-size: 18px;
  cursor: pointer;
}
#content-body .icon-eye {
  margin-right: 5px;
}
#content-body .m-t-30 {
  margin-top: 30px;
}
#content-body .date-from, #content-body .date-to {
  display: inline-block;
  width: 200px;
}
#content-body .date-from input, #content-body .date-to input {
  display: inline-block;
}
#content-body .btn-search {
  display: inline-block;
}
#content-body .btn-search button {
  padding: 5px 15px;
}
#content-body .m-r-15px {
  margin-right: 15px;
}
#content-body .m-t-120 {
  margin-top: 120px;
}
#content-body .modal-dialog {
  max-width: 30%;
}
@media only screen and (max-width: 1200px) {
  #content-body .modal-dialog {
    max-width: 40%;
  }
}
@media only screen and (max-width: 900px) {
  #content-body .modal-dialog {
    max-width: 50%;
  }
}
#content-body .red {
  color: #e26b0f;
}
#content-body .btn-csv {
  background: #808080;
  color: #FFFFFF;
}
#content-body .download-csv {
  margin-left: 33px;
}
#content-body #TableHeader {
  width: 100%;
  color: #111111;
}
#content-body #TableHeader th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}
#content-body #list-content {
  overflow-x: hidden;
  margin-right: -17px;
}
#content-body #list-content #content-table {
  border: 1px solid #777;
  margin: 0 auto;
  width: 100%;
}
#content-body #list-content #content-table th {
  background-color: #cacaca;
  border: 1px solid #777;
  vertical-align: middle;
  height: 30px;
}
#content-body #list-content #content-table td {
  vertical-align: middle;
  border: 1px solid #dee2e6;
  padding: 5px;
  text-align: center;
}
#content-body .select-time-serach .search-date, #content-body .select-time-serach .clear_input_search {
  background-color: #e26b0f;
  color: #ffffff;
}
#content-body .select-time-serach .download-file-csv {
  background: grey;
  color: #ffffff;
  margin-left: 25px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-center {
  transform: translate(0, -50%) !important;
  top: 50%;
  margin: 0 auto;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

.modal.show .modal-dialog {
  transform: none;
}

.mt-5 .btn-back {
  padding: 12px 43px;
  text-align: center;
  background: grey;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.mt-5 .btn-back:hover {
  color: #fff;
  text-decoration: none;
}
.mt-5 a:focus {
  color: #ffffff;
  text-decoration: none;
}

#download-file-import, #download-filelog-import {
  cursor: pointer;
}
