
body{
    font-family: Arial, Helvetica, sans-serif;
}
body #content-body{
    background-color: #fff;
    font-family: sans-serif;
}
body main{
      width: 100%;
      padding: 0;
}
body .container {
    margin: 0 0 0 0;
    width: 100%;
    padding: 0 100px;
}

header .headerInr:after {
    background: transparent !important;
}



#content-body {
    
    .w-53 {
        width: 53px;
    }

   
    .p-paginate {
        margin-top: 20px;
    }
    .p-paginate a {
        display: inline-block;
        color: #333;
    }

    .p-paginate span {
        display: inline-block;
    }

    .p-paginate li {
        border: 1px solid #eee;
    }
    .p-paginate ul li a{
        padding: 4px 8px;
        background: #ddd;
    }

    .p-paginate {
        display: inline-block;
    }

    .p-paginate ul {
        // border: 1px solid #ddd;
        border-radius: 5px;
    }

    .p-paginate ul li span, .p-paginate ul li a{
        padding: 4px 8px;
        background: #fff;
    }

    .p-paginate li.active span{
        background: #333;
        color: #fff;
    }
    .p-paginate li.active, .p-paginate li.disabled {
        cursor: not-allowed;
    }
    .t-center {
        text-align: center;
    }

    .option-icon {
        display: inline-block;
        width: 20px;
    }
    .option-icon img {
        display: inline-block;
        width: 20px;
        cursor: pointer;
    }

    .icon-eye i {
        font-size: 18px;
        cursor: pointer;
    }
    .icon-eye {
        margin-right: 5px;
    }
    .m-t-30 {
        margin-top: 30px;
    }

 

    .date-from, .date-to {
        display: inline-block;
        width: 200px;
        input {
            display: inline-block;
        }
    }
    .btn-search {
        display: inline-block;
    }
    .btn-search button {
        padding: 5px 15px;
    }
    //.date-to input {
    //    height: auto;
    //}
    .m-r-15px {
        margin-right: 15px;
    }
    .m-t-120 {
        margin-top: 120px;
    }
    .modal-dialog {
        max-width: 30%;
    }

    @media only screen and (max-width: 1200px) {
        .modal-dialog {
            max-width: 40%;
        }
    }

    @media only screen and (max-width: 900px) {
        .modal-dialog {
            max-width: 50%;
        }
    }
   
    .red {
        color: #e26b0f;
    }

    .btn-csv {
        background: #808080;
        color: #FFFFFF;
    }
    .download-csv {
        margin-left: 33px;
    }
    
    
    
    #TableHeader{
          width: 100%;
          color:#111111;
           th{
                background-color: #f2f2f2;
               border: 1px solid #ddd;
               padding: 5px;
              text-align: center;
           }
    }
    #list-content{
         overflow-x: hidden;
         margin-right: -17px;
          #content-table{
               border: 1px solid #777;
               margin: 0 auto;
               width:100%;
                th
                    {
                        background-color: #cacaca;
                        border: 1px solid #777;
                        vertical-align: middle;
                        height: 30px;
                    }
                 td
                    {
                       
                        vertical-align: middle;
                        border: 1px solid #dee2e6;
                         padding: 5px;
                         text-align: center;

                    }    
         }
    }
    
    
    .import-file{
         display:flex;
         position: relative;
         z-index: 0;
         .from-importfile{
               width: 50%;
               display: inline-block;
               .btn-choose{
                    background: #e26b0f;
                    color: #ffff;
                    border-radius: 0;
               }
               input{
                    border-radius: 0;
                    border: 1px solid #ddd;
               }
         }
         .button-import{
               width: 45%;
               display: inline-block;
               #import-fle{
                        background-color: #e26b0f;
                         border: none;
                         color: white;
                         padding: 6px 22px;
                         text-align: center;
                         text-decoration: none;
                         display: inline-block;
                         font-size: 16px;
                         margin-left: 30px;
                         border-radius: 0;
                         margin-top: 1px;
               }
         }
    }
    .select-time-serach{
         .search-date , .clear_input_search{
              background-color: #e26b0f;
              color: #ffff;
              
         }
    }
    
    
    
    
    
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop.show {
    opacity: 0.5;
}
.modal-open {
    overflow: hidden;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-center {
    -webkit-transform: translate(0, -50%) !important;
    transform: translate(0, -50%) !important;
    top: 50%;
    margin: 0 auto;
}
.modal.fade .modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
}
.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
}

.mt-5{
     .btn-back{
               font-family: Arial, Helvetica, sans-serif;
               padding: 12px 43px;
               text-align: center;
               background: #808080;
               color: #fff;
               text-decoration: none;
               &:hover{
                color: #fff;

                       text-decoration: none;
           }
     }
     a:focus {
          color: #ffffff;
           text-decoration: none;
      }
     
}
#download-file-import, #download-filelog-import{
     cursor: pointer;
}


$primary: #e26b0f;
$gray :  #C8CCD4;

.select-option{

.radio{
  position: relative;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  margin: 10px 30px 15px 0px;
  .label{
          position: relative;
          display: block;
          float: left;
          margin-right: 10px;
          width: 20px;
          height: 20px;
          border: 2px solid $gray;
          border-radius: 100%;
          -webkit-tap-highlight-color: transparent;
          &:after{
            content: '';
            position: absolute;
            top:3px;
            left:3px;
            width:10px;
            height:10px;
            border-radius:100%;
            background:$primary;
            transform:scale(0);
            transition:all .2s ease;
            opacity:.8;
            pointer-events: none;
           } 
          &:hover{
                  .label:after{
                    transform:scale(3.6);
                 }
           }
     }
}

input[type="radio"]:checked + .label{
     border-color:$primary;
     &:after{
       transform:scale(1);
       transition:all .2s cubic-bezier(.35,.9,.4,.9);
       opacity:1;
     }
}
.cntr{
     display: inline-flex;
}
.hidden{
  display:none;
}
//dribbble 
.credit{
     
          position: fixed;
          right: 20px;
          bottom: 20px;
          transition: all .2s ease;
          -webkit-user-select: none;
          user-select: none;
          opacity: .6;
          img{
            width: 72px;
          }
          &:hover{
            transform: scale(.95)
          }
   }
}